@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    max-width: 100vw;
    overflow: hidden auto;
}

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}


header {
    background: #006A37;
    padding: 8px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    z-index: 999999999999999;
    position: fixed;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container>div {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .container img {
    width: 60px;
    margin-right: 32px
}

header .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

header .container nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

header .container .info,
header .container .social {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .container .social a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    letter-spacing: 1px;
}

header .container .other>a {
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-right: 10px;
}

.hero {
    min-height: 100vh;
    margin-top: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 52px;
    background: rgb(12,85,42);
    background: linear-gradient(90deg, rgba(12,85,42,1) 0%, rgba(245,126,48,1) 100%);
}

.hero .container {
    position: relative;
    height: calc(100vh - 68px);
}

.hero .container>img {
    width: 600px;
    margin: auto;
    display: block;
    padding-bottom: 24px;
}

.hero .ingreadiants {
    width: 1040px;
    margin: auto;
    height: 40%;
    position: relative;
    z-index: 2;
}

.hero .ingreadiants .rice {
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
    z-index: 2;
}


.hero .ingreadiants .pasta {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.hero .ingreadiants .chickpeas {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}


.hero .ingreadiants .lentils {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.hero .ingreadiants .onion {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.hero .ingreadiants .salsa {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero .ingreadiants .shata {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero .ingreadiants .garlic {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* -------------------------------------------------------- */

.rice-1-initial {
    position: absolute;
    width: 54px;
    bottom: 30px;
    left: 290px;
}

.rice-2-initial {
    position: absolute;
    width: 56px;
    bottom: 80px;
    left: 350px;
}

.rice-3-initial {
    position: absolute;
    width: 85px;
    bottom: -40px;
    left: 310px;
}

.rice-4-initial {
    position: absolute;
    width: 280px;
    bottom: -70px;
    left: 360px;
}

.rice-5-initial {
    position: absolute;
    width: 54px;
    bottom: 30px;
    right: 250px;
}

.rice-6-initial {
    position: absolute;
    width: 56px;
    bottom: 90px;
    right: 300px;
}

.rice-7-initial {
    position: absolute;
    width: 85px;
    bottom: 30px;
    right: 320px;
}

.rice-8-initial {
    position: absolute;
    width: 120px;
    bottom: -20px;
    left: 250px;
}

.rice-9-initial {
    position: absolute;
    width: 145px;
    bottom: -70px;
    right: 320px;
}

.rice-10-initial {
    width: 150px;
    position: absolute;
    bottom: -20px;
    left: 310px;
}


.rice-1-final {
    position: absolute;
    width: 54px;
    bottom: -180px;
    left: 290px;
}

.rice-2-final {
    position: absolute;
    width: 56px;
    bottom: -160px;
    left: 330px;
    top: auto;
}

.rice-3-final {
    position: absolute;
    width: 85px;
    top: auto;
    left: 300px;
    bottom: -190px;
}

.rice-4-final {
    position: absolute;
    width: 350px;
    bottom: -280px;
    left: 320px;
}

.rice-5-final {
    position: absolute;
    width: 54px;
    bottom: -220px;
    right: 350px;
}

.rice-6-final {
    position: absolute;
    width: 56px;
    top: auto;
    right: 320px;
    bottom: -150px;
}

.rice-7-final {
    position: absolute;
    width: 85px;
    top: auto;
    right: 290px;
    bottom: -160px;
}

.rice-8-final {
    position: absolute;
    width: 130px;
    bottom: -200px;
    right: 350px;
}
.rice-9-final {
    position: absolute;
    width: 145px;
    bottom: -210px;
    right: 270px;
}

.rice-10-final {
    width: 150px;
    position: absolute;
    bottom: -240px;
    left: 310px;
}

.rice {
    transition: width 1.5s ease-in-out, top 1.5s ease-in-out, left 1.5s ease-in-out;
    /* Adjust duration and timing function as needed */
}

.ingreadiants img {
    transition: all .5s ease-in-out;
}


.rice-1-final,
.rice-2-final,
.rice-3-final,
.rice-4-final,
.rice-5-final,
.rice-6-final,
.rice-7-final,
.rice-9-final,
.rice-10-final,
.rice-8-final {
    transition: all .5s ease-in-out;
    animation: none !important;
}

.rice img {
    position: absolute;
    animation-duration: 5s;
    /* Base duration */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* Infinite loop */
}

/* Random Fly Animation for Each Element */
@keyframes fly {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Assign unique delays to stagger animations */
.rice-1 {
    animation-name: fly;
    animation-delay: 0s;
}

.rice-2 {
    animation-name: fly;
    animation-delay: 0.5s;
}

.rice-3 {
    animation-name: fly;
    animation-delay: 1s;
}

.rice-4 {
    animation-name: fly;
    animation-delay: 1.5s;
}

.rice-5 {
    animation-name: fly;
    animation-delay: 2s;
}

.rice-6 {
    animation-name: fly;
    animation-delay: 2.5s;
}

.rice-7 {
    animation-name: fly;
    animation-delay: 3s;
}

.rice-8 {
    animation-name: fly;
    animation-delay: 3.5s;
}

.rice-9 {
    animation-name: fly;
    animation-delay: 3s;
}

.rice-10 {
    animation-name: fly;
    animation-delay: 3.5s;
}

@media (max-width: 1199.98px) {
    .rice-1-initial {
        position: absolute;
        width: 49px;
        bottom: 0;
        left: 262px;
    }

    .rice-2-initial {
        position: absolute;
        width: 51px;
        bottom: 50px;
        left: 315px;
    }

    .rice-3-initial {
        position: absolute;
        width: 77px;
        bottom: -70px;
        left: 280px;
    }

    .rice-4-initial {
        position: absolute;
        width: 253px;
        bottom: -110px;
        left: 325px;
    }

    .rice-5-initial {
        position: absolute;
        width: 49px;
        bottom: 0;
        right: 225px;
    }

    .rice-6-initial {
        position: absolute;
        width: 51px;
        bottom: 60px;
        right: 271px;
    }

    .rice-7-initial {
        position: absolute;
        width: 77px;
        bottom: 0px;
        right: 288px;
    }

    .rice-8-initial {
        position: absolute;
        width: 109px;
        bottom: -50px;
        left: 225px;
    }

    .rice-1-final {
        position: absolute;
        width: 49px;
        bottom: -180px;
        left: 262px;
    }

    .rice-2-final {
        position: absolute;
        width: 51px;
        bottom: -160px;
        left: 298px;
        top: auto;
    }

    .rice-3-final {
        position: absolute;
        width: 77px;
        top: auto;
        left: 271px;
        bottom: -190px;
    }

    .rice-4-final {
        position: absolute;
        width: 316px;
        bottom: -280px;
        left: 288px;
    }

    .rice-5-final {
        position: absolute;
        width: 49px;
        bottom: -220px;
        right: 315px;
    }

    .rice-6-final {
        position: absolute;
        width: 51px;
        top: auto;
        right: 288px;
        bottom: -150px;
    }

    .rice-7-final {
        position: absolute;
        width: 77px;
        top: auto;
        right: 262px;
        bottom: -160px;
    }

    .rice-8-final {
        position: absolute;
        width: 118px;
        bottom: -200px;
        right: 315px;
    }
}

@media (max-width: 992.98px) {
    .rice-1-initial {
        position: absolute;
        width: 40.5px;
        bottom: 0;
        left: 217.5px;
    }

    .rice-2-initial {
        position: absolute;
        width: 42.2px;
        bottom: 41.4px;
        left: 261.5px;
    }

    .rice-3-initial {
        position: absolute;
        width: 64.1px;
        bottom: -57.8px;
        left: 232.5px;
    }

    .rice-4-initial {
        position: absolute;
        width: 209.5px;
        bottom: -91.2px;
        left: 269.5px;
    }

    .rice-5-initial {
        position: absolute;
        width: 40.5px;
        bottom: 0;
        right: 187.5px;
    }

    .rice-6-initial {
        position: absolute;
        width: 42.2px;
        bottom: 49.6px;
        right: 225.5px;
    }

    .rice-7-initial {
        position: absolute;
        width: 64.1px;
        bottom: 0px;
        right: 239.5px;
    }

    .rice-8-initial {
        position: absolute;
        width: 90.5px;
        bottom: -41.4px;
        left: 187.5px;
    }

    .rice-1-final {
        position: absolute;
        width: 40.5px;
        bottom: -149.2px;
        left: 217.5px;
    }

    .rice-2-final {
        position: absolute;
        width: 42.2px;
        bottom: -132.8px;
        left: 247.5px;
        top: auto;
    }

    .rice-3-final {
        position: absolute;
        width: 64.1px;
        top: auto;
        left: 225.5px;
        bottom: -157.2px;
    }

    .rice-4-final {
        position: absolute;
        width: 262.5px;
        bottom: -233.2px;
        left: 239.5px;
    }

    .rice-5-final {
        position: absolute;
        width: 40.5px;
        bottom: -182.4px;
        right: 261.5px;
    }

    .rice-6-final {
        position: absolute;
        width: 42.2px;
        top: auto;
        right: 239.5px;
        bottom: -124.4px;
    }

    .rice-7-final {
        position: absolute;
        width: 64.1px;
        top: auto;
        right: 217.5px;
        bottom: -132.8px;
    }

    .rice-8-final {
        position: absolute;
        width: 97.5px;
        bottom: -165.2px;
        right: 261.5px;
    }
}

/* For screen sizes up to 992.98px */
@media (max-width: 992.98px) {
    .rice-1-initial {
        position: absolute;
        width: 40.5px;
        bottom: 0;
        left: 217.5px;
    }

    .rice-2-initial {
        position: absolute;
        width: 42.2px;
        bottom: 41.4px;
        left: 261.5px;
    }

    .rice-3-initial {
        position: absolute;
        width: 64.1px;
        bottom: -57.8px;
        left: 232.5px;
    }

    .rice-4-initial {
        position: absolute;
        width: 209.5px;
        bottom: -91.2px;
        left: 269.5px;
    }

    .rice-5-initial {
        position: absolute;
        width: 40.5px;
        bottom: 0;
        right: 187.5px;
    }

    .rice-6-initial {
        position: absolute;
        width: 42.2px;
        bottom: 49.6px;
        right: 225.5px;
    }

    .rice-7-initial {
        position: absolute;
        width: 64.1px;
        bottom: 0px;
        right: 239.5px;
    }

    .rice-8-initial {
        position: absolute;
        width: 90.5px;
        bottom: -41.4px;
        left: 187.5px;
    }

    .rice-1-final {
        position: absolute;
        width: 40.5px;
        bottom: -149.2px;
        left: 217.5px;
    }

    .rice-2-final {
        position: absolute;
        width: 42.2px;
        bottom: -132.8px;
        left: 247.5px;
        top: auto;
    }

    .rice-3-final {
        position: absolute;
        width: 64.1px;
        top: auto;
        left: 225.5px;
        bottom: -157.2px;
    }

    .rice-4-final {
        position: absolute;
        width: 262.5px;
        bottom: -233.2px;
        left: 239.5px;
    }

    .rice-5-final {
        position: absolute;
        width: 40.5px;
        bottom: -182.4px;
        right: 261.5px;
    }

    .rice-6-final {
        position: absolute;
        width: 42.2px;
        top: auto;
        right: 239.5px;
        bottom: -124.4px;
    }

    .rice-7-final {
        position: absolute;
        width: 64.1px;
        top: auto;
        right: 217.5px;
        bottom: -132.8px;
    }

    .rice-8-final {
        position: absolute;
        width: 97.5px;
        bottom: -165.2px;
        right: 261.5px;
    }
}

/* For screen sizes up to 767.98px */
@media (max-width: 767.98px) {
    .rice-1-initial {
        position: absolute;
        width: 31.3px;
        /* 40.5px * 0.773 */
        bottom: 0;
        left: 168.2px;
        /* 217.5px * 0.773 */
    }

    .rice-2-initial {
        position: absolute;
        width: 32.6px;
        /* 42.2px * 0.773 */
        bottom: 32.1px;
        /* 41.4px * 0.773 */
        left: 202.5px;
        /* 261.5px * 0.773 */
    }

    .rice-3-initial {
        position: absolute;
        width: 49.5px;
        /* 64.1px * 0.773 */
        bottom: -44.8px;
        /* -57.8px * 0.773 */
        left: 179.8px;
        /* 232.5px * 0.773 */
    }

    .rice-4-initial {
        position: absolute;
        width: 162.1px;
        /* 209.5px * 0.773 */
        bottom: -70.6px;
        /* -91.2px * 0.773 */
        left: 208.5px;
        /* 269.5px * 0.773 */
    }

    .rice-5-initial {
        position: absolute;
        width: 31.3px;
        /* 40.5px * 0.773 */
        bottom: 0;
        right: 144.8px;
        /* 187.5px * 0.773 */
    }

    .rice-6-initial {
        position: absolute;
        width: 32.6px;
        /* 42.2px * 0.773 */
        bottom: 38.4px;
        /* 49.6px * 0.773 */
        right: 174.5px;
        /* 225.5px * 0.773 */
    }

    .rice-7-initial {
        position: absolute;
        width: 49.5px;
        /* 64.1px * 0.773 */
        bottom: 0px;
        right: 184.8px;
        /* 239.5px * 0.773 */
    }

    .rice-8-initial {
        position: absolute;
        width: 70.1px;
        /* 90.5px * 0.773 */
        bottom: -32.1px;
        /* -41.4px * 0.773 */
        left: 144.8px;
        /* 187.5px * 0.773 */
    }

    .rice-1-final {
        position: absolute;
        width: 31.3px;
        /* 40.5px * 0.773 */
        bottom: -115.3px;
        /* -149.2px * 0.773 */
        left: 168.2px;
        /* 217.5px * 0.773 */
    }

    .rice-2-final {
        position: absolute;
        width: 32.6px;
        /* 42.2px * 0.773 */
        bottom: -102.6px;
        /* -132.8px * 0.773 */
        left: 191.3px;
        /* 247.5px * 0.773 */
        top: auto;
    }

    .rice-3-final {
        position: absolute;
        width: 49.5px;
        /* 64.1px * 0.773 */
        top: auto;
        left: 174.5px;
        /* 225.5px * 0.773 */
        bottom: -121.5px;
        /* -157.2px * 0.773 */
    }

    .rice-4-final {
        position: absolute;
        width: 203.1px;
        /* 262.5px * 0.773 */
        bottom: -180.3px;
        /* -233.2px * 0.773 */
        left: 184.8px;
        /* 239.5px * 0.773 */
    }

    .rice-5-final {
        position: absolute;
        width: 31.3px;
        /* 40.5px * 0.773 */
        bottom: -141.1px;
        /* -182.4px * 0.773 */
        right: 202.5px;
        /* 261.5px * 0.773 */
    }

    .rice-6-final {
        position: absolute;
        width: 32.6px;
        /* 42.2px * 0.773 */
        top: auto;
        right: 184.8px;
        /* 239.5px * 0.773 */
        bottom: -96.1px;
        /* -124.4px * 0.773 */
    }

    .rice-7-final {
        position: absolute;
        width: 49.5px;
        /* 64.1px * 0.773 */
        top: auto;
        right: 168.2px;
        /* 217.5px * 0.773 */
        bottom: -102.6px;
        /* -132.8px * 0.773 */
    }

    .rice-8-final {
        position: absolute;
        width: 75.3px;
        /* 97.5px * 0.773 */
        bottom: -127.5px;
        /* -165.2px * 0.773 */
        right: 202.5px;
        /* 261.5px * 0. 773 */
    }
}

/* -------------------------------------------------------*/

.pasta-1-initial {
    position: absolute;
    bottom: -60px;
    right: 100px;
    width: 350px;
}

.pasta-2-initial {
    position: absolute;
    bottom: -60px;
    left: 130px;
    width: 300px;
}

.pasta-3-initial {
    position: absolute;
    bottom: -35px;
    left: 370px;
    width: 290px;
}

.pasta-4-initial {
    position: absolute;
    bottom: -110px;
    left: 280px;
    width: 280px;
}

.pasta-5-initial {
    position: absolute;
    bottom: 20px;
    left: 110px;
    width: 400px;
}

.pasta-6-initial {
    position: absolute;
    bottom: -110px;
    left: 120px;
    width: 390px;
}


.pasta-7-initial {
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 330px;
}


.pasta-8-initial {
    position: absolute;
    bottom: -50px;
    right: 130px;
    width: 420px;
}

.pasta-1-final {
    position: absolute;
    bottom: -200px;
    right: 290px;
    width: 180px;
}

.pasta-2-final {
    bottom: -230px;
    left: 320px;
    position: absolute;
    width: 190px;
}

.pasta-3-final {
    position: absolute;
    bottom: -235px;
    left: 360px;
    width: 210px;
}

.pasta-4-final {
    bottom: -230px;
    left: 430px;
    position: absolute;
    width: 192px;
}

.pasta-5-final {
    position: absolute;
    bottom: -200px;
    left: 430px;
    width: 220px;
}

.pasta-6-final {
    position: absolute;
    bottom: -220px;
    left: 300px;
    width: 270px;
}


.pasta-7-final {
    position: absolute;
    bottom: -226px;
    left: 395px;
    width: 300px;
}


.pasta-8-final {
    bottom: -240px;
    position: absolute;
    right: 279px;
    width: 320px;
}
.pasta-1-final,
.pasta-2-final,
.pasta-3-final,
.pasta-4-final,
.pasta-5-final,
.pasta-6-final,
.pasta-7-final,
.pasta-8-final {
    transition: all .5s ease-in-out;
    /* transition-delay: .; */
    animation: none !important;
}

.pasta img {
    position: absolute;
    animation-duration: 5s;
    /* Base duration */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* Infinite loop */
}



.pasta-1 {
    animation-name: fly;
    animation-delay: 0s;
}

.pasta-2 {
    animation-name: fly;
    animation-delay: 0.5s;
    z-index: 2;
}

.pasta-3 {
    animation-name: fly;
    animation-delay: 1s;
}

.pasta-4 {
    animation-name: fly;
    animation-delay: 1.5s;
}

.pasta-5 {
    animation-name: fly;
    animation-delay: 2s;
}

.pasta-6 {
    animation-name: fly;
    animation-delay: 2.5s;
    z-index: 2;
}

.pasta-7 {
    animation-name: fly;
    animation-delay: 3s;
}

.pasta-8 {
    animation-name: fly;
    animation-delay: 3.5s;
}

@media (max-width: 1199.98px) {
    .pasta-1-initial {
        position: absolute;
        bottom: 0;
        right: 136px;
        width: 271px;
    }

    .pasta-2-initial {
        position: absolute;
        bottom: 0;
        left: 136px;
        width: 198px;
    }

    .pasta-3-initial {
        position: absolute;
        bottom: 5px;
        left: 288px;
        width: 198px;
    }

    .pasta-4-initial {
        position: absolute;
        bottom: -90px;
        left: 252px;
        width: 181px;
    }

    .pasta-5-initial {
        position: absolute;
        bottom: 20px;
        left: 136px;
        width: 298px;
    }

    .pasta-6-initial {
        position: absolute;
        bottom: -50px;
        left: 136px;
        width: 298px;
    }

    .pasta-7-initial {
        position: absolute;
        bottom: 20px;
        left: 271px;
        width: 298px;
    }

    .pasta-8-initial {
        position: absolute;
        bottom: 20px;
        right: 181px;
        width: 298px;
    }

    .pasta-1-final {
        position: absolute;
        bottom: -200px;
        right: 262px;
        width: 163px;
    }

    .pasta-2-final {
        position: absolute;
        bottom: -220px;
        left: 281px;
        width: 181px;
    }

    .pasta-3-final {
        position: absolute;
        bottom: -235px;
        left: 324px;
        width: 190px;
    }

    .pasta-4-final {
        position: absolute;
        bottom: -210px;
        left: 388px;
        width: 181px;
    }

    .pasta-5-final {
        position: absolute;
        bottom: -200px;
        left: 388px;
        width: 198px;
    }

    .pasta-6-final {
        position: absolute;
        bottom: -190px;
        left: 271px;
        width: 198px;
    }

    .pasta-7-final {
        position: absolute;
        bottom: -160px;
        left: 406px;
        width: 198px;
    }

    .pasta-8-final {
        position: absolute;
        bottom: -230px;
        right: 235px;
        width: 252px;
    }
}

@media (max-width: 992.98px) {
    .pasta-1-initial {
        position: absolute;
        bottom: 0;
        right: 112.5px;
        width: 224.5px;
    }

    .pasta-2-initial {
        position: absolute;
        bottom: 0;
        left: 112.5px;
        width: 164.2px;
    }

    .pasta-3-initial {
        position: absolute;
        bottom: 4.1px;
        left: 238.5px;
        width: 164.2px;
    }

    .pasta-4-initial {
        position: absolute;
        bottom: -74.4px;
        left: 208.5px;
        width: 150.5px;
    }

    .pasta-5-initial {
        position: absolute;
        bottom: 16.6px;
        left: 112.5px;
        width: 247.5px;
    }

    .pasta-6-initial {
        position: absolute;
        bottom: -41.4px;
        left: 112.5px;
        width: 247.5px;
    }

    .pasta-7-initial {
        position: absolute;
        bottom: 16.6px;
        left: 224.5px;
        width: 247.5px;
    }

    .pasta-8-initial {
        position: absolute;
        bottom: 16.6px;
        right: 150.5px;
        width: 247.5px;
    }

    .pasta-1-final {
        position: absolute;
        bottom: -165.2px;
        right: 217.5px;
        width: 134.5px;
    }

    .pasta-2-final {
        position: absolute;
        bottom: -182.4px;
        left: 233.5px;
        width: 150.5px;
    }

    .pasta-3-final {
        position: absolute;
        bottom: -194.2px;
        left: 268.5px;
        width: 157.5px;
    }

    .pasta-4-final {
        position: absolute;
        bottom: -173.2px;
        left: 321.5px;
        width: 150.5px;
    }

    .pasta-5-final {
        position: absolute;
        bottom: -165.2px;
        left: 321.5px;
        width: 164.2px;
    }

    .pasta-6-final {
        position: absolute;
        bottom: -156.4px;
        left: 224.5px;
        width: 164.2px;
    }

    .pasta-7-final {
        position: absolute;
        bottom: -132.8px;
        left: 335.5px;
        width: 164.2px;
    }

    .pasta-8-final {
        position: absolute;
        bottom: -190.2px;
        right: 194.5px;
        width: 208.5px;
    }
}

/* For screen sizes up to 767.98px */
@media (max-width: 767.98px) {
    .pasta-1-initial {
        position: absolute;
        bottom: 0;
        right: 87.2px;
        /* 112.5px * 0.773 */
        width: 173.3px;
        /* 224.5px * 0.773 */
    }

    .pasta-2-initial {
        position: absolute;
        bottom: 0;
        left: 87.2px;
        /* 112.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-3-initial {
        position: absolute;
        bottom: 3.2px;
        /* 4.1px * 0.773 */
        left: 184.3px;
        /* 238.5px * 0.773 */
        width: 126.5px;
        /* 164.2 px * 0.773 */
    }

    .pasta-4-initial {
        position: absolute;
        bottom: -57.4px;
        /* -74.4px * 0.773 */
        left: 161.3px;
        /* 208.5px * 0.773 */
        width: 116.1px;
        /* 150.5px * 0.773 */
    }

    .pasta-5-initial {
        position: absolute;
        bottom: 12.9px;
        /* 16.6px * 0.773 */
        left: 87.2px;
        /* 112.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-6-initial {
        position: absolute;
        bottom: -32.1px;
        /* -41.4px * 0.773 */
        left: 87.2px;
        /* 112.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-7-initial {
        position: absolute;
        bottom: 12.9px;
        /* 16.6px * 0.773 */
        left: 173.3px;
        /* 224.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-8-initial {
        position: absolute;
        bottom: 12.9px;
        /* 16.6px * 0.773 */
        right: 116.1px;
        /* 150.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-1-final {
        position: absolute;
        bottom: -128.1px;
        /* -165.2px * 0.773 */
        right: 168.2px;
        /* 217.5px * 0.773 */
        width: 104.1px;
        /* 134.5px * 0.773 */
    }

    .pasta-2-final {
        position: absolute;
        bottom: -141.1px;
        /* -182.4px * 0.773 */
        left: 180.5px;
        /* 233.5px * 0.773 */
        width: 116.1px;
        /* 150.5px * 0.773 */
    }

    .pasta-3-final {
        position: absolute;
        bottom: -150.3px;
        /* -194.2px * 0.773 */
        left: 207.8px;
        /* 268.5px * 0.773 */
        width: 121.8px;
        /* 157.5px * 0.773 */
    }

    .pasta-4-final {
        position: absolute;
        bottom: -134.2px;
        /* -173.2px * 0.773 */
        left: 248.5px;
        /* 321.5px * 0.773 */
        width: 116.1px;
        /* 150.5px * 0.773 */
    }

    .pasta-5-final {
        position: absolute;
        bottom: -128.1px;
        /* -165.2px * 0.773 */
        left: 248.5px;
        /* 321.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-6-final {
        position: absolute;
        bottom: -121.5px;
        /* -156.4px * 0.773 */
        left: 173.3px;
        /* 224.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-7-final {
        position: absolute;
        bottom: -103.1px;
        /* -132.8px * 0.773 */
        left: 259.3px;
        /* 335.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-8-final {
        position: absolute;
        bottom: -147.3px;
        /* -190.2px * 0.773 */
        right: 150.5px;
        /* 194.5px * 0.773 */
        width: 161.3px;
        /*  208.5px * 0.773 */
    }
}

/* -----------------------------------------*/
.lentils-1-initial {
    position: absolute;
    bottom: 120px;
    right: 150px;
    width: 50px;
}

.lentils-2-initial {
    position: absolute;
    bottom: 0px;
    left: 250px;
    width: 45px;
}

.lentils-3-initial {
    position: absolute;
    bottom: -30px;
    left: 510px;
    width: 45px;
    z-index: 5;
}

.lentils-4-initial {
    position: absolute;
    bottom: 110px;
    right: 250px;
    width: 40px;
}

.lentils-5-initial {
    position: absolute;
    bottom: 20px;
    left: 440px;
    width: 245px;
    z-index: 5;
}

.lentils-6-initial {
    position: absolute;
    width: 260px;
    right: 150px;
    bottom: -30px;
    z-index: 5;
}

.lentils-7-initial {
    position: absolute;
    width: 290px;
    left: 210px;
    bottom: 0;
    z-index: 5;
}

.lentils-8-initial {
    position: absolute;
    bottom: -50px;
    left: 300px;
    width: 260px;
    z-index: 5;
}

.lentils-1-final {
    position: absolute;
    bottom: -120px;
    right: 350px;
    width: 15px;
}

.lentils-2-final {
    position: absolute;
    bottom: -160px;
    left: 350px;
    width: 45px;
}

.lentils-3-final {
    position: absolute;
    bottom: -171px;
    left: 470px;
    width: 35px;
    z-index: 5;
}

.lentils-4-final {
    position: absolute;
    bottom: -210px;
    right: 370px;
    width: 34px;
}

.lentils-5-final {
    position: absolute;
    bottom: -190px;
    left: 330px;
    width: 155px;
    z-index: 5;
}

.lentils-6-final {
    position: absolute;
    bottom: -230px;
    left: 430px;
    width: 210px;
    z-index: 5;
}

.lentils-7-final {
    position: absolute;
    width: 180px;
    left: 380px;
    bottom: -200px;
    z-index: 5;
}

.lentils-8-final {
    position: absolute;
    width: 150px;
    right: 300px;
    bottom: -210px;
}


.lentils-1-final,
.lentils-2-final,
.lentils-3-final,
.lentils-4-final,
.lentils-5-final,
.lentils-6-final,
.lentils-7-final,
.lentils-8-final {
    transition: all .5s ease-in-out;
    animation: none !important;
}

.lentils img {
    position: absolute;
    animation-duration: 5s;
    /* Base duration */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* Infinite loop */
}



.lentils-1 {
    animation-name: fly;
    animation-delay: 0s;
}

.lentils-2 {
    animation-name: fly;
    animation-delay: 0.5s;
    z-index: 2;
}

.lentils-3 {
    animation-name: fly;
    animation-delay: 1s;
}

.lentils-4 {
    animation-name: fly;
    animation-delay: 1.5s;
}

.lentils-5 {
    animation-name: fly;
    animation-delay: 2s;
}

.lentils-6 {
    animation-name: fly;
    animation-delay: 2.5s;
    z-index: 2;
}

.lentils-7 {
    animation-name: fly;
    animation-delay: 2.5s;
}

.lentils-8 {
    animation-name: fly;
    animation-delay: 3.5s;
}

@media (max-width: 1199.98px) {
    .lentils-1-initial {
        position: absolute;
        bottom: 120px;
        right: 136px;
        width: 45px;
    }

    .lentils-2-initial {
        position: absolute;
        bottom: 0px;
        left: 225px;
        width: 41px;
    }

    .lentils-3-initial {
        position: absolute;
        bottom: 120px;
        left: 136px;
        width: 41px;
        z-index: 5;
    }

    .lentils-4-initial {
        position: absolute;
        bottom: 110px;
        right: 225px;
        width: 36px;
    }

    .lentils-5-initial {
        position: absolute;
        bottom: 100px;
        left: 361px;
        width: 41px;
        z-index: 5;
    }

    .lentils-6-initial {
        position: absolute;
        bottom: -50px;
        left: 315px;
        width: 253px;
        z-index: 5;
    }

    .lentils-1-final {
        position: absolute;
        bottom: -120px;
        right: 315px;
        width: 41px;
    }

    .lentils-2-final {
        position: absolute;
        bottom: -160px;
        left: 315px;
        width: 41px;
    }

    .lentils-3-final {
        position: absolute;
        bottom: -171px;
        left: 423px;
        width: 41px;
        z-index: 5;
    }

    .lentils-4-final {
        position: absolute;
        bottom: -210px;
        right: 331px;
        width: 31px;
    }

    .lentils-5-final {
        position: absolute;
        bottom: -230px;
        left: 361px;
        width: 41px;
        z-index: 5;
    }

    .lentils-6-final {
        position: absolute;
        bottom: -230px;
        left: 331px;
        width: 253px;
        z-index: 5;
    }
}

@media (max-width: 992.98px) {
    .lentils-1-initial {
        position: absolute;
        bottom: 99.4px;
        right: 112.5px;
        width: 37.3px;
    }

    .lentils-2-initial {
        position: absolute;
        bottom: 0px;
        left: 186.5px;
        width: 34.1px;
    }

    .lentils-3-initial {
        position: absolute;
        bottom: 99.4px;
        left: 112.5px;
        width: 34.1px;
        z-index: 5;
    }

    .lentils-4-initial {
        position: absolute;
        bottom: 91.2px;
        right: 186.5px;
        width: 29.9px;
    }

    .lentils-5-initial {
        position: absolute;
        bottom: 82.8px;
        left: 299.5px;
        width: 34.1px;
        z-index: 5;
    }

    .lentils-6-initial {
        position: absolute;
        bottom: -41.4px;
        left: 261.5px;
        width: 209.5px;
        z-index: 5;
    }

    .lentils-1-final {
        position: absolute;
        bottom: -99.4px;
        right: 261.5px;
        width: 34.1px;
    }

    .lentils-2-final {
        position: absolute;
        bottom: -132.8px;
        left: 261.5px;
        width: 34.1px;
    }

    .lentils-3-final {
        position: absolute;
        bottom: -141.2px;
        left: 350.5px;
        width: 34.1px;
        z-index: 5;
    }

    .lentils-4-final {
        position: absolute;
        bottom: -173.2px;
        right: 274.5px;
        width: 25.9px;
    }

    .lentils-5-final {
        position: absolute;
        bottom: -190.2px;
        left: 299.5px;
        width: 34.1px;
        z-index: 5;
    }

    .lentils-6-final {
        position: absolute;
        bottom: -190.2px;
        left: 274.5px;
        width: 209.5px;
        z-index: 5;
    }
}

/* For screen sizes up to 767.98px */
@media (max-width: 767.98px) {
    .pasta-1-initial {
        position: absolute;
        bottom: 0;
        right: 87.2px;
        /* 112.5px * 0.773 */
        width: 173.3px;
        /* 224.5px * 0.773 */
    }

    .pasta-2-initial {
        position: absolute;
        bottom: 0;
        left: 87.2px;
        /* 112.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-3-initial {
        position: absolute;
        bottom: 3.2px;
        /* 4.1px * 0.773 */
        left: 184.3px;
        /* 238.5px * 0.773 */
        width: 126.5px;
        /* 164.2 px * 0.773 */
    }

    .pasta-4-initial {
        position: absolute;
        bottom: -57.4px;
        /* -74.4px * 0.773 */
        left: 161.3px;
        /* 208.5px * 0.773 */
        width: 116.1px;
        /* 150.5px * 0.773 */
    }

    .pasta-5-initial {
        position: absolute;
        bottom: 12.9px;
        /* 16.6px * 0.773 */
        left: 87.2px;
        /* 112.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-6-initial {
        position: absolute;
        bottom: -32.1px;
        /* -41.4px * 0.773 */
        left: 87.2px;
        /* 112.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-7-initial {
        position: absolute;
        bottom: 12.9px;
        /* 16.6px * 0.773 */
        left: 173.3px;
        /* 224.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-8-initial {
        position: absolute;
        bottom: 12.9px;
        /* 16.6px * 0.773 */
        right: 116.1px;
        /* 150.5px * 0.773 */
        width: 191.3px;
        /* 247.5px * 0.773 */
    }

    .pasta-1-final {
        position: absolute;
        bottom: -128.1px;
        /* -165.2px * 0.773 */
        right: 168.2px;
        /* 217.5px * 0.773 */
        width: 104.1px;
        /* 134.5px * 0.773 */
    }

    .pasta-2-final {
        position: absolute;
        bottom: -141.1px;
        /* -182.4px * 0.773 */
        left: 180.5px;
        /* 233.5px * 0.773 */
        width: 116.1px;
        /* 150.5px * 0.773 */
    }

    .pasta-3-final {
        position: absolute;
        bottom: -150.3px;
        /* -194.2px * 0.773 */
        left: 207.8px;
        /* 268.5px * 0.773 */
        width: 121.8px;
        /* 157.5px * 0.773 */
    }

    .pasta-4-final {
        position: absolute;
        bottom: -134.2px;
        /* -173.2px * 0.773 */
        left: 248.5px;
        /* 321.5px * 0.773 */
        width: 116.1px;
        /* 150.5px * 0.773 */
    }

    .pasta-5-final {
        position: absolute;
        bottom: -128.1px;
        /* -165.2px * 0.773 */
        left: 248.5px;
        /* 321.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-6-final {
        position: absolute;
        bottom: -121.5px;
        /* -156.4px * 0.773 */
        left: 173.3px;
        /* 224.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-7-final {
        position: absolute;
        bottom: -103.1px;
        /* -132.8px * 0.773 */
        left: 259.3px;
        /* 335.5px * 0.773 */
        width: 126.5px;
        /* 164.2px * 0.773 */
    }

    .pasta-8-final {
        position: absolute;
        bottom: -147.3px;
        /* -190.2px * 0.773 */
        right: 150.5px;
        /* 194.5px * 0.773 */
        width: 161.3px;
        /*  208.5px * 0.773 */
    }
}

/* ------------------------------------------------------------------*/

.chickpeas-1-initial {
    position: absolute;
    bottom: -60px;
    right: 240px;
    width: 220px;
}

.chickpeas-2-initial {
    position: absolute;
    bottom: -40px;
    left: 160px;
    width: 290px;
}

.chickpeas-3-initial {
    position: absolute;
    bottom: -20px;
    left: 410px;
    width: 150px;
}

.chickpeas-4-initial {
    position: absolute;
    width: 170px;
    left: 220px;
    bottom: 40px;
}

.chickpeas-4-initial {
    position: absolute;
    width: 170px;
    left: 220px;
    bottom: 40px;
}

.chickpeas-5-initial {
    position: absolute;
    position: absolute;
    right: 150px;
    width: 150px;
    bottom: -80px;
}

.chickpeas-1-final {
    position: absolute;
    bottom: -240px;
    right: 380px;
    width: 140px;
}

.chickpeas-2-final {
    position: absolute;
    bottom: -220px;
    left: 300px;
    width: 200px;
}

.chickpeas-3-final {
    position: absolute;
    bottom: -220px;
    left: 500px;
    width: 120px;
}

.chickpeas-4-final {
    position: absolute;
    width: 150px;
    left: 340px;
    bottom: -190px;
}

.chickpeas-5-final {
    position: absolute;
    position: absolute;
    right: 310px;
    width: 120px;
    bottom: -230px;
}

.chickpeas-1-final,
.chickpeas-2-final,
.chickpeas-3-final,
.chickpeas-4-final,
.chickpeas-5-final,
.chickpeas-6-final,
.chickpeas-7-final,
.chickpeas-8-final {
    transition: all .5s ease-in-out;
    animation: none !important;
}

.chickpeas img {
    position: absolute;
    animation-duration: 5s;
    /* Base duration */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* Infinite loop */
}



.chickpeas-1 {
    animation-name: fly;
    animation-delay: 0s;
}

.chickpeas-2 {
    animation-name: fly;
    animation-delay: 0.5s;
    z-index: 2;
}

.chickpeas-3 {
    animation-name: fly;
    animation-delay: 1s;
}

.chickpeas-4 {
    animation-name: fly;
    animation-delay: 1.5s;
}

.chickpeas-5 {
    animation-name: fly;
    animation-delay: 2s;
}

.chickpeas-6 {
    animation-name: fly;
    animation-delay: 2.5s;
    z-index: 2;
}

.chickpeas-7 {
    animation-name: fly;
    animation-delay: 3s;
}

.chickpeas-8 {
    animation-name: fly;
    animation-delay: 3.5s;
}

@media (max-width: 1199.98px) {
    .chickpeas-1-initial {
        position: absolute;
        bottom: -60px;
        right: 163px;
        width: 181px;
    }

    .chickpeas-2-initial {
        position: absolute;
        bottom: -60px;
        left: 163px;
        width: 181px;
    }

    .chickpeas-3-initial {
        position: absolute;
        bottom: -60px;
        left: 346px;
        width: 136px;
    }

    .chickpeas-4-initial {
        position: absolute;
        bottom: -30px;
        right: 397px;
        width: 181px;
        transform: rotate(40deg);
    }

    .chickpeas-1-final {
        position: absolute;
        bottom: -260px;
        right: 307px;
        width: 163px;
    }

    .chickpeas-2-final {
        position: absolute;
        bottom: -220px;
        left: 271px;
        width: 181px;
    }

    .chickpeas-3-final {
        position: absolute;
        bottom: -220px;
        left: 450px;
        width: 109px;
    }

    .chickpeas-4-final {
        position: absolute;
        bottom: -260px;
        right: 397px;
        width: 181px;
        transform: rotate(40deg);
    }
}

@media (max-width: 992.98px) {
    .chickpeas-1-initial {
        position: absolute;
        bottom: -49.7px;
        right: 135.3px;
        width: 149.9px;
    }

    .chickpeas-2-initial {
        position: absolute;
        bottom: -49.7px;
        left: 135.3px;
        width: 149.9px;
    }

    .chickpeas-3-initial {
        position: absolute;
        bottom: -49.7px;
        left: 286.5px;
        width: 112.9px;
    }

    .chickpeas-4-initial {
        position: absolute;
        bottom: -24.9px;
        right: 329.5px;
        width: 149.9px;
        transform: rotate(40deg);
    }

    .chickpeas-1-final {
        position: absolute;
        bottom: -215.2px;
        right: 253.5px;
        width: 134.9px;
    }

    .chickpeas-2-final {
        position: absolute;
        bottom: -182.4px;
        left: 224.5px;
        width: 149.9px;
    }

    .chickpeas-3-final {
        position: absolute;
        bottom: -182.4px;
        left: 373.5px;
        width: 90.9px;
    }

    .chickpeas-4-final {
        position: absolute;
        bottom: -215.2px;
        right: 329.5px;
        width: 149.9px;
        transform: rotate(40deg);
    }
}

/* ---------------------------------------------------------------*/

.onion-1-initial {
    position: absolute;
    left: 320px;
    width: 190px;
    bottom: 70px;
}

.onion-2-initial {
    position: absolute;
    right: 310px;
    width: 240px;
    bottom: -20px;
}


.onion-3-initial {
    position: absolute;
    right: 120px;
    width: 240px;
    bottom: 20px;
}

.onion-4-initial {
    position: absolute;
    right: 340px;
    width: 250px;
    bottom: -90px;
}

.onion-5-initial {
    position: absolute;
    left: 230px;
    bottom: -20px;
    width: 240px;
}


.onion-1-final {
    position: absolute;
    left: 320px;
    width: 220px;
    bottom: -210px;
}

.onion-2-final {
    position: absolute;
    right: 370px;
    width: 240px;
    bottom: -200px;
}


.onion-3-final {
    position: absolute;
    right: 300px;
    width: 240px;
    bottom: -230px;
}

.onion-4-final {
    position: absolute;
    right: 360px;
    width: 250px;
    bottom: -230px;
}

.onion-5-final {
    position: absolute;
    left: 430px;
    bottom: -210px;
    width: 220px;
}



.onion-1-final,
.onion-2-final,
.onion-3-final,
.onion-4-final,
.onion-5-final,
.onion-6-final,
.onion-7-final,
.onion-8-final {
    transition: all .5s ease-in-out;
    animation: none !important;
}

.onion img {
    position: absolute;
    animation-duration: 5s;
    /* Base duration */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* Infinite loop */
}



.onion-1 {
    animation-name: fly;
    animation-delay: 0s;
}

.onion-2 {
    animation-name: fly;
    animation-delay: 0.5s;
    z-index: 2;
}

.onion-3 {
    animation-name: fly;
    animation-delay: 1s;
}

.onion-4 {
    animation-name: fly;
    animation-delay: 1.5s;
}

.onion-5 {
    animation-name: fly;
    animation-delay: 2s;
}

.onion-6 {

    animation-name: fly;
    animation-delay: 2.5s;
    z-index: 2;
}

@media (max-width: 1199.98px) {
    .onion-1-initial {
        position: absolute;
        left: 109px;
        width: 217px;
        bottom: 0;
    }

    .onion-2-initial {
        position: absolute;
        right: 289px;
        width: 217px;
        bottom: -40px;
    }

    .onion-3-initial {
        position: absolute;
        right: 109px;
        width: 217px;
        bottom: 0;
    }

    .onion-1-final {
        position: absolute;
        left: 289px;
        width: 199px;
        bottom: -210px;
    }

    .onion-2-final {
        position: absolute;
        right: 335px;
        width: 217px;
        bottom: -200px;
    }

    .onion-3-final {
        position: absolute;
        right: 272px;
        width: 217px;
        bottom: -230px;
    }
}

@media (max-width: 992.98px) {
    .onion-1-initial {
        position: absolute;
        left: 90.3px;
        width: 179.7px;
        bottom: 0;
    }

    .onion-2-initial {
        position: absolute;
        right: 239.5px;
        width: 179.7px;
        bottom: -33.1px;
    }

    .onion-3-initial {
        position: absolute;
        right: 90.3px;
        width: 179.7px;
        bottom: 0;
    }

    .onion-1-final {
        position: absolute;
        left: 239.5px;
        width: 165.1px;
        bottom: -173.2px;
    }

    .onion-2-final {
        position: absolute;
        right: 278.5px;
        width: 179.7px;
        bottom: -165.2px;
    }

    .onion-3-final {
        position: absolute;
        right: 225.5px;
        width: 179.7px;
        bottom: -190.2px;
    }
}
/* For screen sizes up to 767.98px */
@media (max-width: 767.98px) {
    .onion-1-initial {
        position: absolute;
        left: 69.8px; /* 90.3px * 0.773 */
        width: 138.8px; /* 179.7px * 0.773 */
        bottom: 0;
    }

    .onion-2-initial {
        position: absolute;
        right: 185.3px; /* 239.5px * 0.773 */
        width: 138.8px; /* 179.7px * 0.773 */
        bottom: -25.6px; /* -33.1px * 0.773 */
    }

    .onion-3-initial {
        position: absolute;
        right: 69.8px; /* 90.3px * 0.773 */
        width: 138.8px; /* 179.7px * 0.773 */
        bottom: 0;
    }

    .onion-1-final {
        position: absolute;
        left: 185.3px; /* 239.5px * 0.773 */
        width: 127.5px; /* 165.1px * 0.773 */
        bottom: -134.2px; /* -173.2px * 0.773 */
    }

    .onion-2-final {
        position: absolute;
        right: 215.5px; /* 278.5px * 0.773 */
        width: 138.8px; /* 179.7px * 0.773 */
        bottom: -128.1px; /* -165.2px * 0.773 */
    }

    .onion-3-final {
        position: absolute;
        right: 174.5px; /* 225.5px * 0.773 */
        width: 138.8px; /* 179.7px * 0.773 */
        bottom: -147.3px; /* -190.2px * 0.773 */
    }
}
.onion-7 {
    animation-name: fly;
    animation-delay: 3s;
}

.onion-8 {
    animation-name: fly;
    animation-delay: 3.5s;
}

.salsa img {
    width: 530px;
    position: absolute;
    bottom: -110px;
    left: 240px;
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.shata img {
    width: 450px;
    position: absolute;
    right: 150px;
    bottom: -170px;
    animation-duration: 1s;
}

.garlic img {
    width: 480px;
    position: absolute;
    left: 100px;
    bottom: -90px;
    animation-duration: 1s;
}


@media (max-width: 1399.98px) {
    .hero .ingreadiants {
        width: 1000px;
    }

    .hero .container>img {
        width: 590px;
    }

    .salsa img {
        width: 470px;
    }

    .shata img {
        width: 390px;
    }

    .garlic img {
        width: 400px;
    }
}

@media (max-width: 1199.98px) {
    .hero .ingreadiants {
        width: 890px;
    }

    .hero .container>img {
        width: 540px;
    }

    .salsa img {
        width: 350px;
        bottom: -100px;
        left: 270px;
    }

    .shata img {
        width: 390px;
        right: 150px;
        bottom: -170px;
    }

    .garlic img {
        width: 360px;
        left: 120px;
        bottom: -90px;
    }
}

@media (max-width: 992.98px) {
    .hero .ingreadiants {
        width: 740px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero .container>img {
        width: 460px;
    }

    .garlic img {
        width: 310px;
        left: 100px;
        bottom: -80px;
    }

    .shata img {
        width: 350px;
        right: 120px;
        bottom: -130px;
    }

    .salsa img {
        width: 310px;
        bottom: -60px;
        left: 200px;
    }
}

@media (max-width: 767.98px) {
    .hero .container > img {
        width: 340px;
      }
      
}

/* For screen sizes up to 767.98px */
@media (max-width: 767.98px) {
    .lentils-1-initial {
        position: absolute;
        bottom: 76.8px; /* 99.4px * 0.773 */
        right: 87.2px; /* 112.5px * 0.773 */
        width: 28.8px; /* 37.3px * 0.773 */
    }

    .lentils-2-initial {
        position: absolute;
        bottom: 0px;
        left: 144.3px; /* 186.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
    }

    .lentils-3-initial {
        position: absolute;
        bottom: 76.8px; /* 99.4px * 0.773 */
        left: 87.2px; /* 112.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
        z-index: 5;
    }

    .lentils-4-initial {
        position: absolute;
        bottom: 70.5px; /* 91.2px * 0.773 */
        right: 144.3px; /* 186.5px * 0.773 */
        width: 23.1px; /* 29.9px * 0.773 */
    }

    .lentils-5-initial {
        position: absolute;
        bottom: 64.1px; /* 82.8px * 0.773 */
        left: 231.5px; /* 299.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
        z-index: 5;
    }

    .lentils-6-initial {
        position: absolute;
        bottom: -32.1px; /* -41.4px * 0.773 */
        left: 203.5px; /* 261.5px * 0.773 */
        width: 162.3px; /* 209.5px * 0.773 */
        z-index: 5;
    }

    .lentils-1-final {
        position: absolute;
        bottom: -76.8px; /* -99.4px * 0.773 */
        right: 203.5px; /* 261.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
    }

    .lentils-2-final {
        position: absolute;
        bottom: -103.2px; /* -132.8px * 0.773 */
        left: 203.5px; /* 261.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
    }

    .lentils-3-final {
        position: absolute;
        bottom: -109.5px; /* -141.2px * 0.773 */
        left: 271.5px; /* 350.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
        z-index: 5;
    }

    .lentils-4-final {
        position: absolute;
        bottom: -134.2px; /* -173.2px * 0.773 */
        right: 213.5px; /* 274.5px * 0.773 */
        width: 20.1px; /* 25.9px * 0.773 */
    }

    .lentils-5-final {
        position: absolute;
        bottom: -147.3px; /* -190.2px * 0.773 */
        left: 231.5px; /* 299.5px * 0.773 */
        width: 26.3px; /* 34.1px * 0.773 */
        z-index: 5;
    }

    .lentils-6-final {
        position: absolute;
        bottom: -147.3px; /* -190.2px * 0.773 */
        left: 213.5px; /* 274.5px * 0.773 */
        width: 162.3px; /* 209.5px * 0.773 */
        z-index: 5;
    }
}

/* For screen sizes up to 767.98px */

@media (max-width: 767.98px) {

    .chickpeas-1-initial {

        position: absolute;

        bottom: -38.5px;
        /* -49.7px * 0.773 */

        right: 104.5px;
        /* 135.3px * 0.773 */

        width: 115.8px;
        /* 149.9px * 0.773 */

    }



    .chickpeas-2-initial {

        position: absolute;

        bottom: -38.5px;
        /* -49.7px * 0.773 */

        left: 104.5px;
        /* 135.3px * 0.773 */

        width: 115.8px;
        /* 149.9px * 0.773 */

    }



    .chickpeas-3-initial {

        position: absolute;

        bottom: -38.5px;
        /* -49.7px * 0.773 */

        left: 221.3px;
        /* 286.5px * 0.773 */

        width: 87.3px;
        /* 112.9px * 0.773 */

    }



    .chickpeas-4-initial {

        position: absolute;

        bottom: -19.2px;
        /* -24.9px * 0.773 */

        right: 255.3px;
        /* 329.5px * 0.773 */

        width: 115.8px;
        /* 149.9px * 0.773 */

        transform: rotate(40deg);

    }



    .chickpeas-1-final {

        position: absolute;

        bottom: -166.5px;
        /* -215.2px * 0.773 */

        right: 196.5px;
        /* 253.5px * 0.773 */

        width: 104.3px;
        /* 134.9px * 0.773 */

    }



    .chickpeas-2-final {

        position: absolute;

        bottom: -141.1px;
        /* -182.4px * 0.773 */

        left: 173.3px;
        /* 224.5px * 0.773 */

        width: 115.8px;
        /* 149.9px * 0.773 */

    }



    .chickpeas-3-final {

        position: absolute;

        bottom: -141.1px;
        /* -182.4px * 0.773 */

        left: 288.3px;
        /* 373.5px * 0.773 */

        width: 70.2px;
        /* 90.9px * 0.773 */

    }



    .chickpeas-4-final {

        position: absolute;

        bottom: -166.5px;
        /* -215.2px * 0.773 */

        right: 255.3px;
        /* 329.5px * 0.773 */

        width: 115.8px;
        /* 149.9px * 0.773 */

        transform: rotate(40deg);

    }

    .hero .ingreadiants {
        width: 590px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .salsa img {
        width: 210px;
        bottom: -60px;
        left: 190px;
      }
      .shata img {
        width: 240px;
        right: 120px;
        bottom: -130px;
      }
      .garlic img {
        width: 220px;
        left: 120px;
        bottom: -80px;
      }

}
.hero .ingreadiants .salsa img, .hero .ingreadiants .shata img, .hero .ingreadiants .garlic img {
    opacity: 1;
}


.hidden {
    opacity: 0 !important;
    position: absolute;
  }
  
  .ingreadiants img {
    opacity: 0 ;
  }
  .ingreadiants .rice img {
    opacity: 1;
  }

  .ingreadiants .pasta img {
    opacity: 1;
  }

  .ingreadiants .lentils img {
    opacity: 1;
  }

  .ingreadiants .chickpeas img {
    opacity: 1;
  }

  .ingreadiants .onion img {
    opacity: 1;
  }

  .rice-1-final,
  .rice-2-final,
  .rice-3-final,
  .rice-4-final,
  .rice-5-final,
  .rice-6-final,
  .rice-7-final,
  .rice-8-final,
  .pasta-1-final,
.pasta-2-final,
.pasta-3-final,
.pasta-4-final,
.pasta-5-final,
.pasta-6-final,
.pasta-7-final,
.pasta-8-final,
.lentils-1-final,
.lentils-2-final,
.lentils-3-final,
.lentils-4-final,
.lentils-5-final,
.lentils-6-final,
.lentils-7-final,
.lentils-8-final,
.chickpeas-1-final,
.chickpeas-2-final,
.chickpeas-3-final,
.chickpeas-4-final,
.chickpeas-5-final,
.chickpeas-6-final,
.chickpeas-7-final,
.chickpeas-8-final,
.onion-1-final,
.onion-2-final,
.onion-3-final,
.onion-4-final,
.onion-5-final,
.onion-6-final,
.onion-7-final,
.onion-8-final {
    opacity: 1 !important;
}

.rice.initial {
    transform: scale(1.3);
    transform-origin: center 100%;
}

.pasta.initial {
    transform: scale(1.3);
    transform-origin: center 100%;
    opacity: 0;
}

.lentils.initial {
    transform: scale(1.3);
    transform-origin: center 100%;
    opacity: 0;
}


.chickpeas {
    transform-origin: center 100%;
}
.chickpeas.initial {
    transform: scale(1.3);
    transform-origin: center 100%;
    opacity: 0;
}
.onion.initial {
    transform: scale(1.3);
    transform-origin: center 100%;
    opacity: 0;
}

.lentils-1-static-final {
    position: absolute;
    bottom: -210px;
    width: 220px;
    left: 310px;
}
.lentils-2-static-final {
    position: absolute;
    bottom: -210px;
    width: 220px;
    left: 450px;
}
.lentils-3-static-final {
    position: absolute;
    bottom: -230px;
    width: 220px;
    left: 330px;
    transform: rotate(20deg) !important;
}
.lentils-4-static-final {
    position: absolute;
    bottom: -230px;
    width: 220px;
    left: 440px;
    transform: rotate(20deg) !important;
}.lentils-5-static-final {
    position: absolute;
    bottom: -230px;
    width: 220px;
    left: 410px;
    transform: rotate(190deg) !important;
    transition: opacity .3s ease-in !important;
}

.lentils-static-initial {
    display: none !important;
    transition: opacity .3s ease-in !important;
    transition-delay: .4s !important;
}
.chickpeas-static-initial {
    display: none !important;
    transition: opacity .3s ease-in !important;
    transition-delay: .4s !important;
}

.chickpeas-1-static-final {
    width: 180px;
    transform: rotate(100deg);
    bottom: -260px;
    left: 370px;
}
.chickpeas-2-static-final {
    width: 180px;
    transform: rotate(100deg);
    bottom: -260px;
    left: 410px;
}
.chickpeas-3-static-final {
    width: 180px;
    transform: rotate(100deg);
    bottom: -250px;
    left: 460px;
}.chickpeas-4-static-final {
    width: 120px;
    transform: rotate(100deg);
    bottom: -210px;
    left: 600px;
}

